# Core frameworks
fastapi
uvicorn[standard]
python-dotenv

# LangChain & LangGraph
langchain
langgraph
langchain_google_genai
langchain_community

# Web Scraping & Search
trafilatura
httpx
beautifulsoup4
tavily-python